In [1]:
import boto3
import io
import pandas as pd
s3 = boto3.client('s3')

In [2]:
obj = s3.get_object(Bucket='2016-11', Key='data.csv')
df = pd.read_csv(io.BytesIO(obj['Body'].read()),sep=';',dtype='unicode')
df

,city_ads,user_ads,region_id,category_id,subregion_id,has_phone,private_business,predict_replies,predict_sold,predict_views,price,price_type,state,type,time_since_creation,traffic_level,num_of_photos,promotion_level,hits,empty_sessions
0,809,6,1,753,194,1,private,0,0,6,13,price,used,0,1473.0,2.0,2,0.0,2,8842
1,23,23,17,642,273,0,private,0,0,2,20,price,new,woman,680.0,1.0,3,0.0,34,0
2,10,1,7,1155,381,0,private,0,0,45,NaN,exchange,new,0,0.0,1.0,4,0.0,0,0
3,555,26,2,93,387,1,business,0,0,7,40,price,used,0,0.0,1.0,1,0.0,4,0
4,3743,6,1,1199,180,1,business,0,0,41,899,price,used,0,2493.0,1.0,8,0.0,8,105036
5,25278,2,7,235,136,1,private,0,0,3,40,price,0,0,459.0,2.0,2,0.0,0,0
6,1001,2,13,1407,236,1,private,0,0,8,15,price,new,0,0.0,1.0,2,0.0,1,0
7,471,6,5,725,210,1,private,0,0,12,65,arranged,used,0,0.0,1.0,4,0.0,3,57374
8,1817,11,8,230,211,0,private,0,0,2,18,price,used,girl,0.0,2.0,1,0.0,4,0
9,1063,4,6,506,209,1,business,0,0,28,79,price,new,unisex,0.0,1.0,2,0.0,28,0
10,4994,8,12,506,175,0,private,0,0,56,189,price,new,woman,1341.0,0.0,7,0.0,1,0
11,890,4,1,406,166,0,private,0,0,11,60,price,new,woman,0.0,0.0,2,0.0,0,0
12,4241,1,3,642,112,1,private,0,0,78,60,price,used,woman,0.0,1.0,1,0.0,5,0
13,79,5,11,642,272,1,private,0,0,25,40,price,new,woman,0.0,1.0,3,0.0,6,0
14,7540,1,17,734,226,1,private,0,0,0,40,price,used,boy,429.0,1.0,1,0.0,4,0
15,16853,2,11,282,260,1,private,1,1,26,50,price,new,0,0.0,1.0,2,0.0,4,0
16,2844,83,8,506,311,1,business,0,0,4,43,price,new,woman,1007.0,1.0,4,0.0,3,0
17,19087,2,5,461,45,1,business,0,0,9,149,price,new,0,0.0,1.0,2,0.0,5,0
18,8,1,17,235,38,1,private,0,0,2,70,price,used,NaN,0.0,1.0,3,0.0,28,0
19,11458,2,18,235,9,1,private,0,0,6,20,price,0,0,0.0,2.0,3,0.0,40,0
20,25,6,14,734,43,1,private,0,0,0,30,price,used,boy,0.0,0.0,5,0.0,108,0
21,1431,11,6,734,349,1,private,0,0,0,25,price,used,boy,337.0,1.0,4,0.0,3,0
22,75750,10,2,1157,287,1,private,0,0,5,15,price,new,0,313.0,0.0,2,0.0,1,8713
23,16853,1,11,714,260,1,private,0,0,48,400,arranged,used,0,0.0,1.0,3,0.0,0,0
24,31762,2,4,642,102,0,private,0,0,5,60,price,used,woman,335.0,2.0,5,0.0,18,0
25,12345,1,6,1457,83,1,private,2,0,28,50,price,0,0,1032.0,1.0,0,0.0,1,0
26,26,12,4,734,162,0,private,0,1,0,20,price,used,girl,0.0,0.0,3,0.0,2,0
27,12345,29,6,1161,83,1,private,0,0,19,20,price,used,0,318.0,0.0,3,0.0,8,1596
28,562,1,2,235,333,1,business,0,0,311,229,price,0,0,2559.0,1.0,4,0.0,7,0
29,2857,1,3,1273,124,1,private,0,0,66,15,price,0,0,0.0,2.0,0,0.0,3,38412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999969,1064,1,6,231,353,1,private,0,0,92,80,price,used,0,4489.0,2.0,6,0.0,4,0
999970,44,1,5,243,290,1,private,1,0,354,NaN,free,0,0,108.0,1.0,6,0.0,1,28616
999971,7064,2,6,451,48,1,private,0,0,5,100,price,used,0,0.0,0.0,3,0.0,2,0
999972,25278,1,7,292,136,1,private,0,0,1,50,price,new,0,0.0,1.0,1,0.0,2,0
999973,32,1,6,1459,126,1,private,0,0,146,800,arranged,0,0,339.0,1.0,7,0.0,0,0
999974,43,9,6,584,299,1,private,0,0,2,45,price,used,0,0.0,2.0,1,0.0,0,0
999975,32,1,1,219,181,1,private,0,0,1,40,price,new,woman,363.0,2.0,2,0.0,0,0
999976,1301,5,11,230,261,1,private,0,0,13,15,price,used,girl,0.0,1.0,1,0.0,17,0
999977,9705,6,15,626,278,1,private,0,0,114,150,price,new,man,0.0,1.0,5,0.0,4,0
999978,489,5,3,231,145,1,private,0,0,7,35,price,used,0,0.0,1.0,3,0.0,0,0
999979,1645,14,1,1195,304,1,business,0,0,2,11.9,price,new,0,0.0,1.0,1,0.0,1,6306
999980,13,2,17,761,128,1,private,0,0,15,2.5,price,0,0,0.0,1.0,3,0.0,4,0
999981,11458,11,18,230,9,1,private,0,0,8,20,price,used,girl,0.0,2.0,3,0.0,24,0
999982,1733,5,12,406,85,1,private,0,0,0,35,price,new,unisex,0.0,1.0,1,0.0,4,0
999983,2086,2,1,224,96,1,private,0,0,0,50,price,used,woman,0.0,2.0,3,0.0,3,0
999984,2851,3,6,642,74,1,private,0,0,4,35,price,used,man,840.0,1.0,7,0.0,5,0
999985,1879,3,6,734,214,1,private,0,0,48,70,arranged,used,girl,0.0,0.0,5,0.0,26,0
999986,9529,7,14,224,171,1,private,0,0,2,160,price,used,woman,0.0,2.0,4,0.0,4,0
999987,31762,10,4,642,102,1,private,0,0,0,20,price,used,woman,0.0,2.0,1,0.0,0,0
999988,25278,1,7,1161,136,1,private,0,0,0,4,price,used,0,19678.0,1.0,1,0.0,1,1596
999989,275,10,12,230,485,1,private,0,0,2,12,price,used,girl,0.0,1.0,1,0.0,3,0
999990,1998,13,5,230,276,1,business,0,0,7,29,price,new,boy,1644.0,1.0,1,0.0,4,0
999991,30524,5,3,431,303,1,private,0,0,47,1200,price,0,0,337.0,0.0,6,0.0,0,0
999992,2,1,18,761,429,1,private,0,0,10,25,price,0,0,4569.0,2.0,0,0.0,0,0
999993,84,4,3,734,49,1,private,0,0,1,15,price,used,girl,0.0,1.0,6,0.0,0,0
999994,2857,10,3,230,124,1,private,0,0,3,15,price,used,girl,0.0,1.0,1,0.0,5,0
999995,459,2,14,642,15,1,private,0,0,7,22,arranged,used,woman,15623.0,1.0,4,0.0,0,0
999996,6075,8,11,642,98,1,private,0,0,19,30,price,used,woman,0.0,1.0,4,0.0,5,0
999997,882,20,6,230,373,1,business,0,0,2,35,price,new,girl,1007.0,1.0,2,0.0,6,0
999998,29,10,1,721,220,1,private,0,0,21,1190,price,used,0,0.0,1.0,1,0.0,3,113386

In [3]:
exchange_data = df.loc[df['price_type']=='exchange']

,city_ads,user_ads,region_id,category_id,subregion_id,has_phone,private_business,predict_replies,predict_sold,predict_views,price,price_type,state,type,time_since_creation,traffic_level,num_of_photos,promotion_level,hits,empty_sessions
2,10,1,7,1155,381,0,private,0,0,45,NaN,exchange,new,0,0.0,1.0,4,0.0,0,0
146,9529,10,14,224,171,1,private,0,0,4,NaN,exchange,used,woman,798.0,2.0,3,0.0,6,0
166,15,1,14,383,54,1,private,1,0,108,NaN,exchange,used,0,3523.0,2.0,6,0.0,23,106769
233,7122,1,6,387,246,1,private,6,1,70,NaN,exchange,new,0,0.0,1.0,1,0.0,6,29762
355,566,13,1,383,413,1,private,0,0,50,NaN,exchange,used,0,0.0,1.0,4,0.0,1,106769
359,7122,8,6,224,246,1,private,0,0,12,NaN,exchange,new,woman,0.0,2.0,4,0.0,10,0
452,25278,1,7,93,136,1,private,1,0,57,NaN,exchange,used,0,332.0,1.0,1,0.0,2,0
518,9921,3,5,406,343,1,private,0,0,2,NaN,exchange,used,woman,0.0,1.0,3,0.0,2,0
578,17093,4,15,506,21,0,private,0,0,14,NaN,exchange,used,woman,2192.0,2.0,3,0.0,1,0
680,3474,3,4,230,275,1,private,0,0,29,NaN,exchange,used,girl,0.0,2.0,4,0.0,9,0
736,4612,7,5,506,241,1,private,0,0,21,NaN,exchange,new,woman,363.0,1.0,2,0.0,4,0
786,17093,15,15,642,21,1,private,0,0,8,NaN,exchange,used,woman,0.0,1.0,2,0.0,2,0
855,31676,7,1,230,200,0,private,0,0,41,NaN,exchange,new,girl,0.0,1.0,2,0.0,1,0
900,1998,1,5,93,276,0,private,0,0,46,NaN,exchange,used,0,343.0,1.0,1,0.0,2,0
961,2794,18,2,93,188,1,private,0,0,113,NaN,exchange,new,0,327.0,0.0,2,0.0,4,0
1138,16853,6,11,230,260,0,private,0,0,3,NaN,exchange,used,NaN,0.0,0.0,8,0.0,1,0
1362,594,25,2,642,101,0,private,0,0,6,NaN,exchange,used,woman,0.0,2.0,3,0.0,5,0
1833,16853,3,11,728,260,1,private,0,0,69,NaN,exchange,used,0,0.0,2.0,4,0.0,4,0
1882,13258,3,8,224,125,1,private,0,0,6,NaN,exchange,used,woman,0.0,0.0,3,0.0,4,0
1939,4612,1,5,431,241,0,private,2,0,36,NaN,exchange,0,0,0.0,2.0,0,0.0,1,0
1981,2844,6,8,406,311,0,private,0,0,1,NaN,exchange,new,woman,2680.0,0.0,4,0.0,2,0
2033,1817,1,8,230,211,0,private,0,0,4,NaN,exchange,used,uni,0.0,2.0,0,0.0,40,0
2062,1,1,14,406,469,1,private,0,1,2,NaN,exchange,used,woman,0.0,1.0,3,0.0,0,0
2072,17,5,6,575,223,1,private,0,0,15,NaN,exchange,new,0,19339.0,2.0,7,0.0,4,54743
2116,75750,4,2,642,287,0,private,0,0,4,NaN,exchange,used,woman,0.0,1.0,1,0.0,10,0
2160,7852,6,6,642,10,0,private,0,0,6,NaN,exchange,used,woman,0.0,0.0,2,0.0,0,0
2176,369,1,11,1273,213,1,private,0,0,29,NaN,exchange,0,0,0.0,2.0,0,0.0,0,38412
2177,16853,1,11,431,260,1,private,0,0,1,NaN,exchange,0,0,0.0,2.0,0,0.0,4,0
2183,31676,6,1,230,200,1,private,0,0,16,NaN,exchange,used,girl,936.0,2.0,1,0.0,41,0
2186,3743,17,1,1193,180,1,private,0,0,162,NaN,exchange,used,0,339.0,2.0,3,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997731,31762,10,4,100,102,1,private,2,1,49,NaN,exchange,0,0,0.0,1.0,2,0.0,8,0
997827,9921,1,5,230,343,1,private,0,0,7,NaN,exchange,used,uni,0.0,1.0,1,0.0,0,0
997856,85,2,12,406,253,0,private,0,0,13,NaN,exchange,used,woman,0.0,2.0,2,0.0,2,0
997866,16853,1,11,383,260,1,private,0,0,74,NaN,exchange,used,0,0.0,1.0,4,0.0,9,106769
997927,25278,5,7,230,136,1,private,0,0,13,NaN,exchange,used,girl,0.0,1.0,2,0.0,3,0
998103,35,5,1,642,266,1,private,0,0,1,NaN,exchange,used,man,14537.0,1.0,4,0.0,2,0
998166,6075,1,11,235,98,0,private,0,0,2,NaN,exchange,0,0,0.0,2.0,0,0.0,0,0
998220,30524,1,3,390,303,0,private,0,0,6,NaN,exchange,used,0,0.0,1.0,0,0.0,2,16606
998301,4890,10,6,230,36,1,private,0,0,1,NaN,exchange,used,uni,338.0,1.0,2,0.0,11,0
998366,9705,3,15,642,278,1,private,0,0,24,NaN,exchange,used,woman,0.0,1.0,3,0.0,4,0
998563,680,11,15,224,280,0,private,0,0,6,NaN,exchange,used,woman,4567.0,0.0,6,0.0,8,0
998719,1462,1,7,383,237,0,private,0,0,81,NaN,exchange,new,0,0.0,1.0,5,0.0,2,106769
998764,7122,7,6,431,246,0,private,0,1,14,NaN,exchange,0,0,0.0,1.0,1,0.0,2,0
998827,17093,1,15,1301,21,1,private,0,0,27,NaN,exchange,NaN,0,0.0,2.0,1,0.0,1,8037
999004,75750,16,2,642,287,1,private,0,0,0,NaN,exchange,used,woman,1633.0,1.0,4,0.0,4,0
999053,1998,1,5,431,276,1,private,0,0,9,NaN,exchange,0,0,0.0,1.0,8,0.0,7,0
999199,2644,3,5,224,290,1,private,0,0,9,NaN,exchange,used,woman,30786.0,0.0,5,0.0,5,0
999205,7852,2,6,383,10,1,private,0,0,43,NaN,exchange,used,0,0.0,1.0,3,0.0,0,106769
999293,31762,3,4,383,102,1,private,0,0,98,NaN,exchange,used,0,0.0,1.0,8,0.0,1,106769
999308,3212,1,1,390,51,1,private,1,0,38,NaN,exchange,used,0,0.0,1.0,4,0.0,1,16606
999564,722,1,4,386,309,1,private,1,0,33,NaN,exchange,used,0,0.0,1.0,0,0.0,4,96679
999572,1336,2,6,1483,312,1,private,1,0,118,NaN,exchange,used,0,336.0,2.0,7,0.0,2,34353
999622,17093,15,15,1159,21,1,private,0,0,14,NaN,exchange,used,0,0.0,0.0,1,0.0,0,2232
999663,1788,7,8,230,6,1,private,0,0,3,NaN,exchange,used,boy,0.0,1.0,8,0.0,50,0
999684,31762,5,4,642,102,1,private,0,0,8,NaN,exchange,used,woman,1339.0,0.0,8,0.0,1,0
999770,9,10,3,1165,313,1,private,0,0,10,NaN,exchange,used,0,4448.0,1.0,8,0.0,3,947
999851,11,2,15,728,278,1,private,0,0,62,NaN,exchange,0,0,0.0,2.0,1,0.0,3,0
999860,2171,35,17,642,38,0,private,0,0,1,NaN,exchange,used,woman,4468.0,0.0,5,0.0,0,0
999923,75750,2,2,93,287,0,private,0,0,10,NaN,exchange,used,0,0.0,1.0,2,0.0,39,0
999943,75750,20,2,642,287,0,private,0,0,5,NaN,exchange,used,woman,0.0,1.0,3,0.0,0,0